body{
    font-family: "Raleway", sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
}

/* logo */
#logo img{
    height: 50px;
    display: flex;
    margin-left: 1.5vw;
    align-items: center;
   
}

/* nav */
nav {
    
    display: flex;
    padding-right: 0;
}

.sinscrire{
    color: #0065fc;
}

a{
    text-decoration: none;
    color: black;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-top: -8px;
    margin-right: 2vw;
}

nav ul li {
    border-top: solid 2.5px transparent;
    padding: 38px 30px 0 30px;
}

nav ul li:hover {
    border-top: solid 2.5px #0065fc;
  }

.first-search {
    margin-left: 1.5vw;
}
/* titre h1 */
.first-search h1 {
    font-size: 22px;
    margin-top: 1vw;
    margin-right: 20px;
    clear: left;
}
/* texte p */
.first-search p {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 16px;
}


.first-search span{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
}

/* localisation */
.localisation {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-size: 1.2em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


/* searchfield */
.searchfield {
    width: 12rem;
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: initial;
    padding-left: 20px;
}

/* search button */
.searchbutton {
    width: 132px;
    background-color: #0065fc;
    font-weight: bold;
    font-size: initial;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    position: relative;
    cursor: pointer;
}

/* section of icons */
.filtres {
    margin-left: 1.8vw;
}


/* for the title */
.filtertitle {
    float: left;
    margin-right: 2.2vw;
    margin-top: 10px;
}

.allfilters {
    margin-bottom: 20px;
}

/* the icons */
.main-span {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 1.5vmax;
        border-top: solid #e0e0e0 2px;
        border-right: solid #e0e0e0 2px;
        border-bottom: solid #e0e0e0 2px;
        border-left: none;
        border-radius: 60px;
        padding: 0.9em;
        padding-left: 0;
        transition: all .1s ease-in-out;
    }

    .main-span:hover{
    
        transform: scale(1.1);
     }

.icon-fa{
    background-color: #deebff;
    padding: 17px 15px 17px 16px;
    margin-right: 15px;
    border-radius: 50%;
    color: #0065fc;
}
/* responsive */
@media only screen and (max-width: 1024px) {
        .first-search {
            margin-left: 1.5vw;
        }

        .first-search h1 {
            font-size: 25px;
        }
        .first-search p {
            margin-left: 10px;
            margin-bottom: 20px;
            font-size: 30px;
        }
        .allfilters {
            margin: 20px;
            font-size: 16px;
        }
        .search{
            margin-left: 30px;
        }
    }

.info{
    float: left;
    margin-top: 10px;
    margin-left: 1.8vw;
    font-size: 0.8em;
    color: #0065fc;
    border: solid #f2f2f2 2px;
    border-radius: 50%;
    padding: 0.3em 0.80em;
    
}

.text-info p{
    margin-top: 35px;
    margin-left: 4%;
}

.container{
    margin-left: 35px;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 60%;
    height: 670px;
    
    
}
/* TITRES BOX */
.titre-container{
    padding-top: 50px;
    margin-left: 5%;
}

.titre-populaires{
    padding-top: 25px;
    margin-left: 5%;
}


#principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    padding-right: 10%;
    
    
}

.images{
    height: 120px;
    width: 260px;
     /* max-width: 50%;
    max-height: 500px; */
    margin-right: 50%; 
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.box{
    /* width: 25%; */
    margin-bottom: 8%;
    padding: 0.35em;
    background-color: white;
    width: 14vw;
    height: 200px;
    border-radius: 20px;
    /* margin-bottom: 15px; */
    transition: transform 0.5s;
    
}

.box:hover{
    transform: scale(0.90);
}

/* .plus{
   
    margin-left: 60px;
    
} */

/* ASIDE */
.populaires{

    
    margin-left: 64%;
    background-color: #f2f2f2;
    border-radius: 25px;
    border: solid #f2f2f2 2px;
    width: 30%;
    height: 670px;
    top: 20.7vw;
    position: absolute;
    
}

.asidepopulaires{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    
    
}

.images-populaires{
    height: 140px;
    width: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: left;
    margin-right: 2%;
}

.boxpopulaires{
    /* width: 33%; */
    padding: 0.35em;
    background-color: white;
    width: 23vw;
    height: 140px;
    border-radius: 20px;
    margin-bottom: 35px;
    transition: transform 0.5s;

}

.boxpopulaires:hover{
    transform: scale(0.90);
}

h3{
    margin-top: 5px;
    font-size: 1vw;
}

#nuit{
    font-size: .8vw;
    position: absolute;
    margin-top: -18px;
}

h4{
    font-size: 1vw;
    margin-top: 5px;
    
}

#nuit-populaire{
    margin-top: -20px;
}

.etoiles{
    font-size: 0.7em;
    color: #0065fc;
}

.etoilegrise{
    color: rgb(201, 201, 201);
}

#titreactivité{
    margin-left: 1.8vw;
    padding-top: 50px;
}

.sectionactivités{
    display: flex;
    justify-content: space-around;
    margin-left: 1.7vw;
    /* margin: 2vw 0vw 0vw 1.6vw; */
    
    
}

.boxactivités1{
    margin-right: 3%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 35px;
    margin-right: 5%;
    box-shadow: 2px 2px 20px
    
}

.images-activités_a{
    /* display: flex; */
    /* margin: 0vw 0vw 1vw 10vw; */
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.images-activités_b{
    /* display: flex; */
    padding-bottom: 10%;
    width: 80%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.images-activités_c{
    /* display: flex; */
    padding-bottom: 10%;
    width: 80%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Footer */

footer{
    /* padding-top: 0%; */
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    padding-right: 20%;
    
    
}

.apropos{
    margin-left: 0px;
}


h6{
    margin-left: 40px;
    padding-top: 2%;
    font-size: 1.2vw;
}

footer ul li{
    font-size: 1vw;
    list-style: none;
    margin-bottom: 1.2em;
}